.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    display: block;
}

mat-form-field {
    padding: 5px;
}
.mat-dialog-close{
    
    padding: auto;
 
        position: absolute;
       
        right: 0;
      
        
      

}

.name1{
    padding-left: 6%;
}
// .name{
//     padding-left: 50px;
    
  
// }
.name{
    width: 800px;
}
.price{
    width: 400px;
}
.category{
    width: 400px;
}
.descrip{
    width: 800px;
}