.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    display: block;

}
.tb{
    border: 3px solid green;
}
.mat-dialog-close{
    
    padding: auto;
 
        position: absolute;
       
        right: 0;
      
        
      

}
.name{
    padding-left: 50px;
    
  
}
.name1{
    width: 800px;
}