<div class="bg" style="background: #ECECEC;padding:30px;">
    <div class="parent">
        <h2>Change Password</h2>
        <div class="child">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item >
              <nz-form-control nzHasFeedback nzErrorTip="the input is required">
                <input nz-input  type="password" formControlName="oldpassword" placeholder="Current password" id="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="password required">
                  <input nz-input  type="password" formControlName="password" placeholder="newpassword" id="pass" />
                  
                 </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                    <input nz-input type="password" placeholder="confirm password" formControlName="checkPassword" id="checkPassword" />
                    <ng-template #errorTpl let-control> 
                        <ng-container *ngIf="control.hasError('required')">
                            Confrim Password

                    </ng-container> <ng-container *ngIf="control.hasError('confirm')">
                          Both passwords are not same
                    </ng-container> </ng-template>
                </nz-form-control>
            </nz-form-item>
            
            <button nz-button class="login-form-button login-form-margin" [disabled]="!validateForm.valid" [nzType]="'primary'"> change password</button>
            
          </form>
        </div>
    </div>
    </div>
